.winner {
    color: #2ecc71;
}

.loser {
    color: #c0392b;
}

.display-1 {
    font-size: 2.5em;
    font-weight: 400;
}

.container {
    display: flexbox;
    width: 500px;
    height: 500px;
    background-color: #ecf0f1;
    margin-top: 50px;
    border-radius: 1em;
}


.col {
    padding: 0.5em;
    margin-top: 0.3em;
}

#p1Display {
    font-size: 1.5em;
}


#p2Display {
    font-size: 1.5em;
}

.colon {
    font-size: 1.5em;
}

